import numpy
import imageio
import os
import scipy.io
from PIL import Image
from torchvision import transforms, models
import torch.nn.functional
import torch.nn
import torch
from  torch.utils.model_zoo import load_url
from __future__ import print_function
from distutils.log import error
from numpy import result_type
import argparse
import torch.optim as optim
import random
import torchvision
from torch.autograd import Variable